@charset "utf-8";
#kapsayıcı {
    height: 700px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#kapsayıcı #menu {
    height: 50px;
    background-color: #362B2D;
}
#kapsayıcı #menu ul li {
    display: inline;
}
#kapsayıcı #menu ul li a {
    text-decoration: none;
    text-shadow: 0px 0px #000000;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFFFFF;
}
#kapsayıcı #BANNER {
    height: 280px;
}
#kapsayıcı #icerik {
    height: 350px;
    background-color: #342E2E;
}
#kapsayıcı #footer {
    background-color: #322727;
    height: 50px;
    text-align: center;
}
#kapsayıcı #footer p {
    color: #FFFFFF;
    margin-top: 0px;
    text-align: center;
    height: auto;
}
#kapsayıcı #icerik {
}

#kapsayıcı #icerik p {
}
#kapsayıcı #icerik h1, p {
    color: #FFFFFF;
    text-align: center;
}
